body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #EEEEEE;
}

nav {
  background-color: #57564f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
 
.nama {
  font-size: 20px;
  font-weight: bold;
}

.alih-btn {
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #7A7A73;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px;
  border-radius: 6px;
  z-index: 2;
}

.nav-links.active {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

.nav-links a:hover {
  background-color: #6d6c64;
  border-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #7A7A73;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  min-width: 150px;
  z-index: 3;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #5c5c55;
}

.dropdown:hover .dropdown-content {
  display: block;
}
